app-login {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginLogoCont {
  h1 {
    margin: 10px 0;
    font-size: 60px;
    color: $light_green_font_color;
    font-variant: small-caps;
    letter-spacing: -8px;
  }
}

.loginBox {
  width: 380px;
  max-height: 400px;
  height: 400px;
  background-color: $dark_gray_background_color;
  border: 1px solid #333333;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loginInput {
  width: 100%;
  height: 40px;
  color: #bbbbbb;
  font-weight: bold;
  font-size: 16;
  background-color: #555555;
  border: 1px solid #333333;
  border-radius: 6px;
  box-sizing: border-box;
  padding: 10px;
}

.loginInput:focus {
  outline: none;
  background-color: #5f5f5f;
  border: 1px solid #66cca8;
  box-shadow: 0 0 3px #66cca8;
}
